@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
a {
    color: #2300a0;
    text-decoration: underline;
    transition: all 0.3s ease;
}
a:hover {
    color: #0044ff;
    text-decoration: none;
}
a:active {
    color: #0044ff;
}
a:focus {
    color: #0044ff;
}